<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ski IO</title>
    <link rel="shortcut icon" href="/assets/img/favicon.png" />
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/custom.css" />
</head>

<body>
    {{{body}}}
</body>

</html>