.container {
    text-align: center;
}

#titleBar {
    margin: 1rem;
}

#headerBar .button {
    width: 20%;
    margin-left: 5rem;
    margin-right: 5rem;

    border-top: none;
    border-left: none;
    border-right: none;
}

form label {
    text-align: left;
}

.errorMessage {
    color: red;
}