<head>
    <meta charset="utf-8">
    <title>Ski IO</title>
</head>

<body>
    <div class="section">
        <div class="container">
            <div class="one-half column">
                <h1>Ski IO</h1>
                <h3>Ski with your friends!</h3>
                <div id="content"></div>
                <div class="row">
                    <a class="button" id="loginButton">Sign in</a>
                    <a class="button" id="signupButton">Sign up</a>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/loginBundle.js"></script>
</body>

</html>