<head>
    <meta charset="utf-8">
    <title>Ski IO - Main</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/mainCustom.css" />
</head>

<body>
    <div class="section">
        <div class="container">
            <div class="row" id="titleBar">
                <h4 class="one-half column">Ski IO</h4>
                <a class="button" id="logoutButton" href="/logout">Logout</a>
            </div>
            <div class="row" id="headerBar">
                <a class="button" id="marketButton">Market</a>
                <a class="button" id="gameButton">Game</a>
                <a class="button" id="profileButton">Profile</a>
            </div>
            <div id="content"></div>
            <a class="button" id="addButton">Add Leaderboard Entry</a>
        </div>
    </div>

    <script src="/assets/appBundle.js"></script>
</body>

</html>